@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*DEFININDO ALTURA EM 100% E CENTRALIZANDO CONTEUDO*/
body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background-color: #005940;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ALTERAÇÕES NO BODY*/
.form-cadastro-geral {
    position: relative;
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #005940 solid;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
}
/*ALTERAÇÕES NA DIV PRINCIPAL*/
.form-cad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 0px 30px 0px;
}
/*ALTERAÇÕES DO FORM*/
.div-inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/*DIV GERAL DO INPUTS*/
.dividir-inputs-1{
    display: flex;
    flex-direction: column;
}
/*DIV DOS 3 PRIMEIROS INPUTS (FEITO PARA FINS DE RESPONSIVIDADE)*/
.dividir-inputs-2{
    display: flex;
    flex-direction: column;
}
/*DIV DOS 3 ULTIMOS INPUT*/

.titulo-cadastro {
    font-size: 1.8em;
    margin-bottom: 10%;
    text-align: center;
}
/*TITULO DO CADASTRO*/
.input-cadastro {
    min-width: 380px;
    border-radius: 22px;
    border: 2px #005940 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
    display: flex;
    align-items: center;
}
/*INPUTS DO CADASTRO*/
.input-cadastro i{
    font-size: 1.2em;
    padding: 5px;
}
/*ALTERANDO OS ICONES*/
.input-cadastro input{
    width: 90%;
    height: 2.2em;
    border: none;
    outline: none;
}
/*MUDANÇAS ESPECIFICAS NO INPUT*/
.div-btn-cadastro{
    display: flex;
    justify-content: center;
    width: 60%;
}
/*DIV DO BOTAO DE CADASTRO*/
.div-btn-cadastro a{
    width: 90%;
    border-radius: 15px;
    margin-top: 10%;
}
/*ALTERANDO O LINK DO BOTAO*/
.btn-cadastrar {
    width: 100%;
    height: 35px;
    font-size: 1.2em;
    font-weight: 600;
    border: #005940 1px solid;
    background-color: #00fa85;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    outline: none;
}
/*ALTERANDO O BOTAO EM SI*/
.btn-cadastrar:hover{
    background-color: #00d974;
    cursor: pointer;
}
/*MODIFICANDO O HOVER(QUANDO O MOUSE PASSA POR CIMA DO ELEMENTO) DO BOTAO DE CADASTRAR*/

/*LINK PARA O LOGIN*/
.link-login{
    font-size: .9em;
}
.link-login a{
    color: #005940;
}
.link-login a:hover{
    color: #00d974;
}
/*LINK PARA O LOGIN*/
.logo-cadastro{
    height: 50px;
}
.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
/*LOGO*/
@media (max-height: 850px) {
    .form-cadastro-geral {
        width: 100%;
        height: 90%;
    }
    .form-cad {
        width: fit-content;
        padding-left: 50px;
        padding-right: 50px;
    }
    .div-inputs {
        flex-direction: row;
        gap: 20px;
    }
    .input-cadastro{
        width: 100%;
    }
}
@media (max-height: 630px) {
    html{
        height: auto;
    }
    .form-cadastro-geral {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (max-width: 880px) 
{
    html{
        height: auto;
        display: flex;
        justify-content: center;
    }
    .form-cadastro-geral {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
   .div-inputs{
    flex-direction: column;
   }
   .input-cadastro{
        width: 100%;
    }
    .div-inputs{
        gap: 0px;
    }
}
/*RESPONSIVIDADE*/