@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background-color: #005940;
    margin: 0;
    padding: 0;
    display: block; 
    overflow-x: hidden; /* impede rolagem lateral */
    
}

/*ALTERAÇÕES NO BODY*/
.form-cadastro-geral {
    position: relative;
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #005940 solid;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
}
/*ALTERAÇÕES NA DIV PRINCIPAL*/
.form-cad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 0px 30px 0px;
}
/*ALTERAÇÕES DO FORM*/
.div-inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/*DIV GERAL DO INPUTS*/
.dividir-inputs-1{
    display: flex;
    flex-direction: column;
}
/*DIV DOS 3 PRIMEIROS INPUTS (FEITO PARA FINS DE RESPONSIVIDADE)*/
.dividir-inputs-2{
    display: flex;
    flex-direction: column;
    
}

/*DIV DOS 3 ULTIMOS INPUT*/

.titulo-cadastro {
    font-size: 1.8em;
    margin-bottom: 10%;
    text-align: center;
}
/*TITULO DO CADASTRO*/
.input-cadastro {
    min-width: 300px;
    border-radius: 22px;
    border: 2px #005940 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
    display: flex;
    align-items: center;
}
/*INPUTS DO CADASTRO*/
.input-cadastro i{
    font-size: 1.2em;
    padding: 5px;
}
/*ALTERANDO OS ICONES*/
.input-cadastro input{
    width: 90%;
    height: 2.2em;
    border: none;
    outline: none;
}

/*MUDANÇAS ESPECIFICAS NO INPUT*/
.div-btn-cadastro{
    display: flex;
    justify-content: center;
    width: 60%;
}
/*DIV DO BOTAO DE CADASTRO*/
.div-btn-cadastro a{
    width: 90%;
    border-radius: 15px;
    margin-top: 10%;
}
/*ALTERANDO O LINK DO BOTAO*/
.btn-cadastrar {
    width: 100%;
    height: 35px;
    font-size: 1.2em;
    font-weight: 600;
    border: #005940 1px solid;
    background-color: #00fa85;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    outline: none;
}
/*ALTERANDO O BOTAO EM SI*/
.btn-cadastrar:hover{
    background-color: #00d974;
    cursor: pointer;
}
/*MODIFICANDO O HOVER(QUANDO O MOUSE PASSA POR CIMA DO ELEMENTO) DO BOTAO DE CADASTRAR*/





/*LINK PARA O LOGIN*/
.link-login{
    font-size: .9em;
}
.link-login a{
    color: #005940;
}
.link-login a:hover{
    color: #00d974;
}
/*LINK PARA O LOGIN*/
.logo-cadastro{
    height: 50px;
}
.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 45px;
}
/*LOGO*/

/*Celular*/
@media (max-width: 600px) {
    html, body {
        height: auto;
        display: block;
        background-color: #005940;
    }

    .form-cad {
        min-width: unset; /* remove largura mínima */
        width: 90%;
        padding: 20px;
        border-radius: 8px;
    }

    .div-inputs {
        flex-direction: column;
        gap: 0;
    }

    .dividir-inputs-1,
    .dividir-inputs-2 {
        width: 100%;
    }

    .input-cadastro {
        width: 100%;
        margin: 8px 0;
    }

    .titulo-cadastro {
        font-size: 1.4em;
        margin-bottom: 30px;
    }

    .div-btn-cadastro {
        width: 100%;
    }

    .btn-cadastrar {
        font-size: 1em;
        padding: 10px;
    }

    .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    html, body {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #005940;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-x: hidden;
    }

    .form-cadastro-geral {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        box-sizing: border-box;
    }

    .form-cad {
        width: 80%;
        max-width: 800px;
        background-color: #fff;
        border-radius: 12px;
        padding: 40px;
        box-sizing: border-box;
    }

    .div-inputs {
        display: flex;
        flex-direction: row; /* divide em duas colunas */
        justify-content: space-between;
        gap: 40px;
    }

    .dividir-inputs-1,
    .dividir-inputs-2 {
        flex: 1;
    }

    .input-cadastro {
        width: 100%;
        margin: 8px 0;
    }

    .titulo-cadastro {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 40px;
    }

    .div-btn-cadastro {
        width: 80%;
        margin-top: 40px;
    }

    .btn-cadastrar {
        font-size: 1.1em;
        padding: 12px;
        width: 100%;
    }

    .logo-cadastro {
        height: 60px;
    }
}


/*RESPONSIVIDADE*/


.input-uf {
  display: flex;
  align-items: center;
  border: 2px solid #005940;
  border-radius: 22px;
  padding: 5px 10px;
  width: fit-content;
}

.input-uf i {
  font-size: 1.2em;
  padding-right: 5px;
  color: #005940;
}

.select-uf {
  border: none;
  outline: none;
  font-size: 1em;
  padding: 5px;
  border-radius: 22px;
  background: transparent;
  cursor: pointer;
}



