body{
    width: 100%;
    min-height: 100vh;
}
.sobre-geral{
}
.sobre-geral h1{
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 30px;
    color: #005940;
}
.sobre-geral h1::after{
    content: "";
    width: 5.5em;
    height: 5px;
    background-color: #00de90;
    border-radius: 10px;
    display: block;
    margin: auto;
}
.sobre-texto-geral{
    padding-top: 60px; 
    padding-bottom: 60px;   
}
.sobre-texto{
    width: 60%;
    float: left;
    text-align: left;
    padding: 0px 30px;
}
.logo-sobre{
    width: auto;
    display: flex;
    justify-content: center;
}
.perfil-sobre-integrantes img{
    height: 200px;
    justify-content: end;
    width: auto;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.perfil-sobre-integrantes{
    display: flex;
    justify-content: center;
}
.sobre-redes{
    height: fit-content;
    display: flex;
    gap: 20px;
}
.sobre-redes i{
    font-size: 1.8em;
}
.sobre-geral-integrantes h1{
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    color: #005940;
    padding-bottom: 40px;
}
.sobre-geral-integrantes h1::after{
    content: "";
    width: 6.8em;
    height: 5px;
    background-color: #00de90;
    border-radius: 10px;
    display: block;
    margin: auto;
}
.sec-pad{
    padding-bottom: 40px;
}