.container-post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
/*ajustar o tamanho do conteudo do post*/
.conteudo-geral-post{
    padding-top: 20px;
}
/*aumentar o tamanho entre o titulo e navbar*/
.info-post {
    color: #666;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 20px;
}
/*infos basicas do post*/
.comentarios-post { 
    margin-top: 40px; 
    border-top: 1px solid #005940; 
    padding-top: 20px; 
}
/*daqui pra baixo é tudo sobre a seção de comentários*/
.comentario-ex { 
    display: flex; 
    gap: 15px; 
    margin: 20px 0; 
}              
.info-comentario { 
    color: #666; 
    font-size: 0.8rem; 
}
.form-comentarios {
    margin-top: 30px;  
    border-bottom: 1px solid #005940; 
    margin-bottom: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.form-comentarios input, 
.form-comentarios textarea { 
    width: 100%; 
    margin: 10px 0; 
    padding: 8px; 
    border-radius: 10px;
}
.form-comentarios p{
    font-size: 15px;
    color: #666;
}
.form-comentarios textarea { 
    min-height: 100px;
    max-height: 300px;
    resize: vertical;
    border: #005940 2px solid;
    width: 80%;
    margin-bottom: 30px;
}
.form-comentarios button { 
    min-width: 150px;
    max-width: 150px;
    height: 35px;
    font-size: 1.2em;
    font-weight: 600;
    border: #005940 1px solid;
    background-color: #00fa85;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    outline: none;
}
.form-comentarios button:hover {
    background-color: #00d974;
    cursor: pointer;
}