body{
    background-color: #faefdb;
}
.perfil-foto img{
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    padding-top: 20px;
}

.perfil-foto{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.titulo-perfil{
    font-weight: bold;
    color: #005940;
    font-size: 29px;
    
}
.div-perfil{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.perfil-info{
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
}

.input-perfil{
    width: 100%;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   border: 2px #005940 solid;
   border-radius: 10px;
   outline: none;
   padding-left: 5px;
}
.campos-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container-perfil{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    height: 85vh;
}
.perfil-info-bio{
    display: flex;
    flex-direction: column;
    width: 53%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.perfil-info-bio textarea{
    resize: none;
    padding: 15px;
    text-decoration: none;
    text-align: justify;
    font-weight: 600;
    font-size: 17px;
}
.orientacao-perfil{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 47%;
}
.foto-centro{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px #005940 solid;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    box-shadow: 3px 3px 5px 5px #d1d1d1;
    align-self: center;
    margin-top: 30px;
    padding-top: 15px;
    background-color: #f8f8f8;
}
.text-perfil{
    width: 90%;
   font-size: 16px;
   border: 2px #005940 solid;
   border-radius: 10px;
   outline: none;
   height: 100%;
}
.label-perfil-bio{
    text-align: center;
}