@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*DEFININDO ALTURA PARA 100% DA TELA E CENTRALIZANDO O CONTEUDO*/
body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background-color: #005940;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*DEFININDO A FONTE A SER USADA NA PÁGINA, MUDANDO COR DE FUNDO E CENTRALIZANDO CONTEUDO*/
.form-esqueceu-geral {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #005940 solid;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}
/*SECTION GERAL DA PÁGINA*/
.form-esq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 0px 40px 0px;
    width: fit-content;
}
/*FORM DE ESQUECEU SUA SENHA*/
.input-esqueceu {
    min-width: 380px;
    border-radius: 22px;
    border: 2px #005940 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
    display: flex;
    align-items: center;
}
/*DIV DO INPUT*/
.input-esqueceu i{
    font-size: 1.2em;
    padding: 5px;
}
/*ALTERANDO ICONE DO INPUT*/
.input-esqueceu input{
    width: 90%;
    height: 2.2em;
    border: none;
    outline: none;
}
/*MODIFICANDO O INPUT*/
.form-esq label{
    min-width: 380px;
}
/*MODIFICANDO A LABEL DO INPUT*/
.div-btn-enviar{
    display: flex;
    justify-content: center;
    width: 60%;
}
/*DIV DO BOTAO DE ENVIAR*/
.btn-enviar:hover{
    background-color: #00d974;
    cursor: pointer;
}
/*ALTERANDO O BOTAO DE ENVIAR QUANDO O MOUSE ESTÁ EM CIMA DELE*/
.div-btn-enviar a{
    width: 90%;
    border-radius: 15px;
    margin-top: 10%;
}
/*MODIFICANDO LINK DO BOTAO*/
.btn-enviar {
    width: 100%;
    height: 35px;
    font-size: 1.2em;
    font-weight: 600;
    border: #005940 1px solid;
    background-color: #00fa85;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    outline: none;
}
/*MODIFICANDO BOTAO DE ENVIAR*/
.titulo-esqueceu{
    font-size: 1.4em;
    text-align: center;
    width: 70%;
    padding-bottom: 10%;
    padding-top: 10%;
}
/*MODIFICANDO O TÍTULO DA PÁGINA*/
.logo-img{
    height: 50px;
}
/*DEFININDO TAMANHO DA IMAGEM DA LOGO*/
.logo-esq{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 10px;
}
/*MODIFICANDO A DIV DA LOGO*/



/* Tablet */
@media (max-width: 1024px) {
    .form-esqueceu-geral {
        width: 90%; /* encolhe o formulário */
    }
    .form-esq {
        width: 100%;
        padding: 20px;
    }
    .input-esqueceu, .form-esq label {
        min-width: 0; /* remove o min-width que quebrava layout */
        width: 100%;
    }
    .titulo-esqueceu {
        font-size: 1.2em;
        width: 90%;
        padding: 5% 0;
    }
    .div-btn-enviar {
        width: 100%;
    }
    .div-btn-enviar a {
        width: 100%;
    }
}

/* Celular */
@media (max-width: 768px) {
    .form-esqueceu-geral {
        width: 95%;
    }
    .form-esq {
        padding: 15px;
    }
    .titulo-esqueceu {
        font-size: 1.1em;
    }
    .input-esqueceu input {
        height: 2em;
        font-size: 0.95em;
    }
    .btn-enviar {
        font-size: 1em;
        height: 35px;
        padding: 5px;
    }
}
/* RESPONSIVIDADE */