@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
html{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background: #005940;
}
.form-login-geral {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #005940 solid;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
}
.form-log{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 90px 40px 90px;
}
.titulo-login {
    font-size: 1.8em;
    margin-bottom: 10%;
    text-align: center;
}
.input-login {
    min-width: 380px;
    border-radius: 22px;
    border: 2px #005940 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
    display: flex;
    align-items: center;
}
.input-login i{
    font-size: 1.2em;
    padding: 5px;
}
.input-login input{
    width: 90%;
    height: 2.2em;
    border: none;
    outline: none;
}
.form-log label{
    min-width: 380px;
}
.div-btn-login{
    display: flex;
    justify-content: center;
    width: 60%;
}
.div-btn-login a{
    width: 90%;
    border-radius: 15px;
    margin-top: 10%;
}
.btn-logar {
    width: 100%;
    height: 35px;
    font-size: 1.2em;
    font-weight: 600;
    border: #005940 1px solid;
    background-color: #00fa85;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    outline: none;
}
.btn-logar:hover{
    background-color: #00d974;
    cursor: pointer;
}
.link-login{
    font-size: .9em;
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: -5px;
}
.link-login a{
    color: #005940;
    text-align: start;
}
.link-login a:hover{
    color: #00d974;
}
.link-login-cad{
    font-size: .9em;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
.link-login-cad a{
    color: #005940;
    text-align: start;
}
.link-login-cad a:hover{
    color: #00d974;
}
.logo-login{
    height: 50px;
    margin-bottom: 30px;
}
.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
}