html{
    height: 100%;
}
/*DEFININDO ALTURA DO HTML PARA 100%*/
.container-perfil{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}
/*CONTAINER DO PERFIL*/
.titulo-perfil{
    font-weight: bold;
    color: #005940;
    font-size: 29px;
    padding-top: 20px;
}
/*TÍTULO DO PERFIL*/
.foto-centro{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    box-shadow: 13px 13px 15px 15px #727272;
    align-self: center;
    margin-top: 30px;
    padding-top: 15px;
    border: #005940 solid 1px;
}
/*DIV QUE CENTRALIZA A FOTO DE PERFIL E ADICIONAR BORDA, BOX-SHADOW E DIRECIONA TUDO PRA COLUNA*/
.perfil-foto{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.perfil-foto:hover {
    transform: scale(1.1); 
}

/*DIV DA FOTO DE PERFIL*/
.perfil-foto img{
    height: 150px;
    width: 150px;
    object-fit: cover; 
    object-position: center;
    display: flex;
    justify-content: center;
    border: 3px solid #00fa85;
    border-radius: 50%;
    padding-top: 0.1px;
    transition: transform 0.3 ease;
}
/*ALTERANDO FOTO DO PERFIL*/
.div-perfil{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
/*DIV GERA DAS INFORMAÇÕES DO PERFIL*/
.orientacao-perfil{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 47%;
}
/*DIV PARA VOLTAR A DIREÇÃO DOS ELEMENTOS PARA COLUMN*/
.perfil-info-bio{
    display: flex;
    flex-direction: column;
    width: 53%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}
/*DIV DA BIOGRAFIA*/
.perfil-info-bio textarea{
    resize: none;
    padding: 15px;
    text-decoration: none;
    text-align: justify;
    font-weight: 600;
    font-size: 17px;
    height: 100%;
    width: 90%;
    font-size: 16px;
    border: 2px #005940 solid;
    border-radius: 10px;
    outline: none;
    background-color: #f0f0f0;
}
/*MODIFICANDO O TEXTAREA DA BIOGRAFIA*/
.campos-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/*DIV GERAL DOS CAMPOS DE INFO*/
.perfil-info{
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
    
}
/*CLASSE COMPARTILHADA DOS CAMPOS DE INFO*/
.perfil-info label{
    color: #005940;
    font-weight: bold;
    margin-bottom: -10px;
}
/*MODIFICANDO AS LABELS DO PERFIL*/
.input-perfil{
    width: 100%;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   border: 2px #005940 solid;
   border-radius: 10px;
   outline: none;
   padding-left: 5px;
   background-color: #f0f0f0;
}
/*MODIFICANDO OS INPUTS DO PERFIL*/
.label-perfil-bio{
    text-align: center;
    color: #005940;
    font-weight: bold;
}
/*LABEL DO TEXTAREA DA BIO*/

/* BOTÃO DE EDITAR PERFIL*/
.btn-editar-perfil {
  background-color: #005940;   
  color: #00fa85;               
  border: none;                
  border-radius: 10%;          
  padding: 12px;               
  font-size: 16px;             
  cursor: pointer;             
  transition: 0.3s ease;       
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.btn-editar-perfil:hover {
  background-color: #032c22;   
  transform: scale(1.1);       
}


/*ABAIXO É RESPONSIVIDADE*/
@media (max-width: 1230px) {
           .div-perfil{
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
           }
           .container-perfil{
                max-width: 600px;
           }
           .perfil-info-bio{
                width: 90%;
                height: 250px;
            }
            .orientacao-perfil{
                width: 90%;
            }
            .foto-centro{
                width: 90%;
            }
            .perfil-info{
                width: 90%;
            }
            .titulo-perfil{
                padding-top: 30px;
            }
            .foto-centro{
                margin-top: 20px;
            }
}
@media (max-height: 850px) {
    .container-perfil{
        height: 100%;
    }
}
