@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.bg-navbar{
    background-color: #005940 !important;
    position: sticky;
    font-size: 20px;
}
.header-navbar{
    background-color: #005940;
}
.titulo-font{
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}
.text-color-navbar{
    color: #00fa85 !important;
}
.text-color-navbar:hover{
    color: #00a759 !important;
}
.search-bar {
    border-radius: 20px;
}
.bg-color-menu-btn{
    background-color: #00de90;
}
.barra-pesquisa {
    display: flex;
}
.perfil-geral {
    padding-left: 60px;
}
.menu-perfil {
    justify-items: center;
}
.perfil-item {
    color: #005940;
}
.perfil-item:hover{
    background-color: #e4e4e4;
    border-radius: 20px;
}
.btn-perfil {
     background-color: #01b475;
     border-radius: 400px;
     border: 0;
}
.perfil-geral {
    padding-left: 60px;
}
.btn.show{
    background-color: #008d5c;
}
.btn-perfil:hover{
    background-color: #008d5c;
}
.div-criar-post-geral {
    display: flex;
    flex: 1;
    background-color: rgb(211, 209, 209);
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    font-size: 20px;
}
.bg-criar-post {
    background-color: rgb(211, 209, 209);    
}

.div-criar-post{
    font-weight: bold;
}

.btn-criar-post {
    border-radius: 20px;
    width: 30px;
    border-style: none;
    background-color: #00de90;
    margin-left: 10px;
}
.btn-criar-post:hover {
    background-color: #00be7c;
}
.footer-index {
    display: flex;
    background-color: #005940;
    color: #00fa85;
    align-items: center;
    text-align: center;
    height: 70px;
}
.item-footer {
    flex: 1;
}
.h3-conteudo{
    text-align: center;
    padding: 20px;
}
.div-fundo-relatos{
    display: flex;
    justify-content: center;
}
.fundo-relatos{
    background-color: #00fa85;
    width: fit-content;
    display: flex;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 40px;
}
.relato-1{
    height: 121px;
    width: 960px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px #005940 solid;
}
.relato-2{
    height: 121px;
    width: 960px; 
    background-color: #fff;  
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px #005940 solid;
}
.pessoa-relato{
    font-size: .7em;
    padding-top: 10px;
}
.img-relato{
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}
.div-btn-relatos{
    display: flex;
    padding-right: 20px;
}

.btn-relatos{
    color: #fff;
    background-color: #005940;
    border-radius: 20px;
    padding: 10px;
    border: 0;
}
.btn-relatos:hover{
    background-color: #00996e;
}
.h5-conteudo{
    padding-left: 20px;
}
/*Sobre index*/
.cor-titulo{
    color: #007554;
}
.titulo-centro{
    text-align: center;
}
.geral-sobre{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px #005940 solid;
    border-radius: 10px;
    width: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-ver-sobre{
    border-radius: 9px;
    margin-bottom: 10px;    
}