body{
    background-color: #eafaf3;
}
.sec-posts{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-bottom: 40px;
}
.titulo-posts{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.container-posts{
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.barra-posts{
    background-color: gray;
    width: 100%;
}
.btn-barra{
    display: flex;
    flex-direction: column;
}
.relato-posts{
    height: 100%;
    width: 960px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px #005940 solid;
}
.relato-posts:hover {
    transform: scale(1.03);
}