*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
}

/*ESTE ARQUIVO TEM O INTUITO DE RESETAR O CSS DA PÁGINA*/
/*DEFINE E RESETA ELEMENTOS DOS ARQUIVOS*/
/*ISSO AJUDAN A LIMPAR O CSS DA PÁGINA E DEIXA-LÁ MAIS "TRANQUILA" DE ESTILIZAR*/