# Pastas de compilação e cache do .NET
bin/
obj/

# Pastas de configurações locais do Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code e Logs
.vscode/
*.log

# Caches do Windows/Sistema
Thumbs.db
ehthumbs.db
Desktop.ini